<div class="row">
    <div class="col-md-12">
        <canvas #canvas id="canvas" width="{{canvasWidthAndHeight}}" height="{{canvasWidthAndHeight}}" style="border:1px solid #000000;"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>3 forskjellige virus:</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h3 class="color-red">covid-19 (rød)</h3>
    </div>
    <div class="col-md-3">
        <h3 class="color-green">Influensa (grønn) </h3>
    </div>
    <div class="col-md-3">
        <h3 class="color-blue">SARS (blå) </h3>
    </div>
    <div class="col-md-3">
        <h3 class="color-blue">&nbsp;</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h3 class="color-red">{{redcount}}</h3>
    </div>
    <div class="col-md-3">
        <h3 class="color-green">{{greencount}} </h3>
    </div>
    <div class="col-md-3">
        <h3 class="color-blue">{{bluecount}} </h3>
    </div>
    <div class="col-md-3">
        <h3 class="color-blue">&nbsp;</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        Antall smittede personer: <span style="font-weight: bold">{{squaresCount}} </span></div>
</div>

<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-12">
        <canvas #progressbar id="progressbar" width="600" height="14" style="border:1px solid #000000;"></canvas>
    </div>
    <div class="col-md-12">
        Økningstempo
    </div>
</div>
